.sort-btn {
  margin-top: auto;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 35px;
  width: 12%;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
